body {
    background-color: green;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.main-h1 {
    font-family: 'Noto Sans', sans-serif;
    background-color:red; 
    max-width:1200px;
    text-align:center;
    width:100%;
    background-image: url(images/golem.jpg);
    background-position:center;
    min-height:500px;
}
.main-nav{
    background-color:blue;
    max-width:1200px;
    text-align:center;
    width:100%;
}
.main-header{
    background-color:orange;
    max-width:1200px;
    text-align:center;
    width:100%;
}
.main-section{
    background-color:pink;  
    max-width:1070px;
    text-align:center;
    margin-left:100px;
    margin-right:100px;
    width:100%;
}
.main-footer{
    background-color:yellow;  
    max-width:1200px;
    text-align:center;
    width:100%;
}
.title{
    font-family: 'Noto Sans', sans-serif;
}