body {
    background-color: green;
    margin:0;
    display:flex;
    flex-direction: column;
}
.main-h1 {
  background-color:red;  
}
.main-nav{
    background-color:blue;
    max-width:500px;
    text-align:center;
    margin:30px;
}
.main-header{
    background-color:orange;  
}
.main-section{
    background-color:pink;  
}
.main-footer{
    background-color:yellow;  
}